/* navbar */
.top {
    background-color: green;
    border-bottom-style: solid;
    border-bottom-color: blue;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#btnSignUp {
    margin-left: 10px;
}

/* background image */
main {
    background: url('../images/desotoCaverns.jpg') no-repeat;
    background-size: cover;
    flex: 1 0 auto;
}

.second-page {
    display: none;
}

/* side navbar */
.side-nav {
    border-left-style: solid;
    border-left-color: blue;
}

/* horizontal card */
.main-card {
    height: 200px;
    width: 50%;
    float: right;
}

/* footer */
.foot {
    border-top-color: blue;
    border-top-style: solid;
    background-color: green;
}

@media screen and (max-width: 768px){
    .main-card {
        width: 100%;
    }
}

